# Server
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=isp-super-secret-key-change-in-production
JWT_EXPIRES_IN=24h

# RouterOS / MikroTik
ROUTEROS_HOST=192.168.88.1
ROUTEROS_USER=admin
ROUTEROS_PASSWORD=
ROUTEROS_PORT=8728
ROUTEROS_TIMEOUT=10000

# App
APP_NAME=Mini ISP API
API_PREFIX=api
